<div class="product-list">
    <h3>All Product List</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
                <th>Description</th>
                <th>Update</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productList">
                <td><img src={{item.image}} alt="" width="40"></td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.color}}</td>
                <td>{{item.category}}</td>
                <td>{{item.description}}</td>
                <td>{{item._id}}</td>
                <td (click)="deleteProduct(item._id)"><fa-icon [icon]="delete"></fa-icon></td>
                <td routerLink="/seller-update-product/{{item._id}}"><fa-icon [icon]="update"></fa-icon></td>
            </tr>
        </tbody>

    </table>
</div>
