<div class="container">

    <div *ngIf="popularProducts" id="carouselExampleAutoplaying" class="carousel slide mt-5" data-bs-ride="carousel"
        style="height: 400px;">
        <div class="carousel-inner">

            <div class="carousel-item active" *ngFor="let item of popularProducts">
                <a routerLink="/details/{{item._id}}"><img src={{item.image}} height="400" class="d-block w-100" alt="..."></a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden" style="background: #ccc;">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>



    <div class="row d-flex justify-content-between" *ngIf="trendyProducts">
        <div class="card mx-2 my-4 col-sm-3" style="width: 18rem;" *ngFor="let item of trendyProducts">
            <a routerLink="/details/{{item._id}}"><img src="{{item.image}}" class="card-img-top" alt="..." width="200"></a>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{item.name}}</li>
                <li class="list-group-item">Price: {{item.price}}</li>
                <li class="list-group-item">Color: {{item.color}}</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">View Details</a>
                <a href="#" class="card-link">Add to Cart</a>
            </div>
        </div>

    </div>

</div>